
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <META HTTP-EQUİV="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="../static/styles/teams.css">
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
            <title>View Teams in Leagues</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="Team">
            <div class="custom-1">
                <h1 class>All Teams In League</h1>
                <a class="nav-link" href="{{url_for('view_team')}}">View All Teams</a>
                
            </div>
            <div class="card-columns">
                {% for Team in teams %}
                <div class="card">
                    
                    <div class="card-body text-center">
                      <h4 class="card-title">{{ Team[1] }}</h5>
                      <p class="card-text">{{ Team[0] }}</p>
                      <p class="card-text">League  {{ Team[2] }}</p>
                      <p class="card-text">Overall  {{ Team[3] }}</p>
                      <p class="card-text">Attack  {{ Team[4] }}</p>
                      <p class="card-text">Midfield {{ Team[5] }}</p>
                      <p class="card-text">Defense {{ Team[6] }}</p>
                      <p class="card-text">International Prestige {{ Team[7] }}</p>
                      <p class="card-text">Domestic Prestige {{ Team[8] }}</p>
                      <p class="card-text">Transfer Budget {{ Team[9] }}</p>
                      
     
                      <button> <a href="{{url_for('view_players_of_team',team_id=Team[0])}}"  >View Players</a></button>
                      <button> <a href="{{url_for('view_tactics',team_id=Team[0])}}"  >View Tactics</a></button>
                      <button> <a href="{{url_for('update_team',team_id=Team[0])}}"  >Update Team</a></button>
                      <button><a href="{{url_for('delete_team',team_id=Team[0], league=Team[2])}}"  >Delete Team</a> </button>
                    </div>
                  </div>
                {% endfor %} 
            </div>
        </div>
    </body>
</html>