{% extends "layout.html" %}
{% block title %}Add Player{% endblock %}
{% block content %}
<h1>ADD PLAYER</h1>
<div>
    <form action="" method="post" name="add_player">
        <div class="field">
            <label for="name" class="form-label">Name</label>
            <div class="form-control">
                <input type="text" name="name" value="{{ request.form['name'] }}" required="required" /></input>
            </div>
        </div>
        <div class="field">
            <label for="date_of_birth" class="form-label">Date of Birth (MM/DD/YYYY)</label>
            <div class="form-control">
                <input type="date" name="date_of_birth" value="{{ request.form['date_of_birth'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="height" class="form-label">Height</label>
            <div class="form-control">
                <input type="number" name="height" value="{{ request.form['height'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="weight" class="form-label">Weight</label>
            <div class="form-control">
                <input type="number" name="weight" value="{{ request.form['weight'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="potential_rating" class="form-label">Potential Rating</label>
            <div class="form-control">
                <input type="number" name="potential_rating" value="{{ request.form['potential_rating'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="overall_rating" class="form-label">Overall Rating</label>
            <div class="form-control">
                <input type="number" name="overall_rating" value="{{ request.form['overall_rating'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="best_position" class="form-label">Best Position</label>
            <div class="form-control">
                <input type="text" name="best_position" value="{{ request.form['best_position'] }}"></input>
            </div>
        </div>

        <!-- <select name="best_position"  form="add_player">
            <option value="RW">RW</option>
            <option value="ST">ST</option>
            <option value="GK">GK</option>
            <option value="CAM">CAM</option>
            <option value="LW">LW</option>
            <option value="CB">CB</option>
            <option value="CDM">CDM</option>
            <option value="CF">CF</option>
            <option value="LM">LM</option>
            <option value="CM">CM</option>
            <option value="RB">RB</option>
            <option value="LB">LB</option>
            <option value="RM">RM</option>
            <option value="LWB">LWB</option>
            <option value="RWB">RWB</option>
          </select> -->
        <div class="field">
            <label for="best_overall_rating" class="form-label">Best Overall Rating</label>
            <div class="form-control">
                <input type="number" name="best_overall_rating" value="{{ request.form['best_overall_rating'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="value" class="form-label">Value</label>
            <div class="form-control">
                <input type="number" name="value" value="{{ request.form['value'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="wage" class="form-label">Wage</label>
            <div class="form-control">
                <input type="number" name="wage" value="{{ request.form['wage'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="team_id" class="form-label">Team Id</label>
            <div class="form-control">
                <input type="number" name="team_id" value="{{ request.form['team_id'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="url" class="form-label">Url</label>
            <div class="form-control">
                <input type="text" name="url" value="{{ request.form['url'] }}"></input>
            </div>
        </div>
        <div class="field">
            <label for="nationality" class="form-label">Nationality</label>
            <div class="form-control">
                <input type="text" name="nationality" value="{{ request.form['nationality'] }}"></input>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}