<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <META HTTP-EQUİV="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content=""width=device-width, initial-scale-1.0>
            <title>Add Team</title>
    </head>
    <body>
        <div>

            <form method="post">
                <label for="defensive_style">Defensive Style</label>
                <br>
                <input type="text" name="defensive_style"
                       value="{{ request.form['defensive_style'] }}"></input>
                <br>

                <label for="team_width">Team Width</label>
                <br>
                <input type="text" name="team_width"
                       value="{{ request.form['team_width'] }}"></input>
                <br>

                <label for="depth">Depth</label>
                <br>
                <input type="text" name="depth"
                       value="{{ request.form['depth'] }}"></input>
                <br>

                <label for="offensive_style">Offensive Style</label>
                <br>
                <input type="text" name="offensive_style"
                       value="{{ request.form['offensive_style'] }}"></input>
                <br>

                <label for="width">Width</label>
                <br>
                <input type="text" name="width"
                       value="{{ request.form['width'] }}"></input>
                <br>
        
                <label for="players_in_box">Players in Box</label>
                <br>
                <input type="text" name="players_in_box"
                       value="{{ request.form['players_in_box'] }}"></input>
                <br>
                
                <label for="corners">Corners</label>
                <br>
                <input type="text" name="corners"
                       value="{{ request.form['corners'] }}"></input>
                <br>

                <label for="freekicks">Freekicks</label>
                <br>
                <input type="text" name="freekicks"
                       value="{{ request.form['freekicks'] }}"></input>
                <br>

                <label for="team_id">Team ID</label>
                <br>
                <input type="text" name="team_id"
                       value="{{ request.form['team_id'] }}"></input>
                <br>


                <button type="submit">Submit</button>
            </form>
        </div>
        

    </body>
</html>