<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUİV="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="" width=device-width, initial-scale-1.0>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../styles/teams.css')}}">
    <title>Add Player</title>
    {% include 'navbar.html' %}
</head>


<body>
    
    <div>
        <div class="add_player_form">
            <div class="search-box">
                <div>
                    <div class="card-body text-center">
                        <h3 class="card-title">ADD PLAYER</h3>
                            <form action="" method="post" name="add_player">
                                <div class="field">
                                    <label for="name" class="form-label">Name*</label>
                                    <div>
                                        <input type="text" name="name" value="{{ request.form['name'] }}"
                                            required="required" /></input>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="date_of_birth" class="form-label">Date of Birth (MM/DD/YYYY)</label>
                                    <div>
                                        <input type="date" name="date_of_birth"
                                            value="{{ request.form['date_of_birth'] }}" required="required"></input>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="height" class="form-label">Height*</label>
                                    <div>
                                        <input type="number" name="height" value="{{ request.form['height'] }}"
                                            required="required"></input>
                                        {% if 'height' in values.errors %}
                                        <span>
                                            <p class="card-title">
                                                {{ values.errors['height'] }}
                                            </p>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="weight" class="form-label">Weight*</label>
                                    <div>
                                        <input type="number" name="weight" value="{{ request.form['weight'] }}"
                                            required="required"></input>
                                        {% if 'weight' in values.errors %}
                                        <span>
                                            <p class="card-title">
                                                {{ values.errors['weight'] }}
                                            </p>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="potential_rating" class="form-label">Potential Rating*</label>
                                    <div>
                                        <input type="number" name="potential_rating"
                                            value="{{ request.form['potential_rating'] }}" required="required"></input>
                                        {% if 'potential_rating' in values.errors %}
                                        <span>
                                            <p class="card-title">
                                                {{ values.errors['potential_rating'] }}
                                            </p>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="overall_rating" class="form-label">Overall Rating*</label>
                                    <div>
                                        <input type="number" name="overall_rating"
                                            value="{{ request.form['overall_rating'] }}" required="required"></input>
                                        {% if 'overall_rating' in values.errors %}
                                        <span>
                                            <p class="card-title">
                                                {{ values.errors['overall_rating'] }}
                                            </p>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="best_position" class="form-label">Best Position*</label>
                                    <div>
                                        <input type="text" name="best_position"
                                            value="{{ request.form['best_position'] }}" required="required"></input>
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="best_overall_rating" class="form-label">Best Overall Rating</label>
                                    <div>
                                        <input type="number" name="best_overall_rating"
                                            value="{{ request.form['best_overall_rating'] }}"
                                            required="required"></input>
                                        {% if 'best_overall_rating' in values.errors %}
                                        <span>
                                            <p class="card-title">
                                                {{ values.errors['best_overall_rating'] }}
                                            </p>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="value" class="form-label">Value*</label>
                                    <div>
                                        <input type="number" name="value" value="{{ request.form['value'] }}"
                                            required="required"></input>
                                        {% if 'value' in values.errors %}
                                        <span>
                                            <p class="card-title">
                                                {{ values.errors['value'] }}
                                            </p>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="wage" class="form-label">Wage*</label>
                                    <div>
                                        <input type="number" name="wage" value="{{ request.form['wage'] }}"
                                            required="required"></input>
                                        {% if 'wage' in values.errors %}
                                        <span>
                                            <p class="card-title">
                                                {{ values.errors['wage'] }}
                                            </p>
                                        </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="team_id" class="form-label">Team*</label>
                                    <select name=team_id>
                                        {%for team in teams%}
                                        <option value="{{team[0]}}">{{team[1]}}</option>
                                        {%endfor%}
                                    </select>

                                </div>
                                <div class="field">
                                    <label for="url" class="form-label">Url</label>
                                    <div>
                                        <textarea type="text" maxlength="200" name="url" value="{{ request.form['url'] }}"></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="nationality" class="form-label">Nationality*</label>
                                    <div>
                                        <input type="text" name="nationality" value="{{ request.form['nationality'] }}"
                                            required="required"></input>
                                    </div>
                                </div>

                                <br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                    </div>
                </div>

            </div>
        </div>


    </div>


</body>

</html>