<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <META HTTP-EQUİV="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content=""width=device-width, initial-scale-1.0>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../styles/teams.css')}}">
            <title>Home</title>

    </head>
    <body>
        {% include 'navbar.html' %}
        <div>
            <h1>Home Page</h1>
            <p>Hello {{name}} </p>
        </div>
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}
        </div>
        <div>
            <a href="{{ url_for('views.add_player') }}">Add Player</a>
            <br>
            <a href="{{ url_for('views.add_player_mentality') }}">Add Player Mentality</a>
            <br>
            <a href="{{ url_for('views.add_player_goalkeeping') }}">Add Player Goalkeeping</a>
            <br>
            <a href="{{ url_for('views.add_player_profile') }}">Add Player Profile</a>
            <br>
            <a href="{{ url_for('views.add_player_skills') }}">Add Player Skill</a>
            <br>
            <a href="{{ url_for('views.add_team') }}">Add Team</a>
            <br>
            <a href="{{ url_for('views.add_team_tactics') }}">Add Team Tactics</a>
            <br>
            <br>

            <a href="{{ url_for('views.delete_player') }}">Delete Player</a>
            <br>
            <a href="{{ url_for('views.delete_player_mentality') }}">Delete Player Mentality</a>
            <br>
            <a href="{{ url_for('views.delete_player_goalkeeping') }}">Delete Player Goalkeeping</a>
            <br>
            <a href="{{ url_for('views.delete_player_profile') }}">Delete Player Profile</a>
            <br>
            <a href="{{ url_for('views.delete_player_skills') }}">Delete Player Skill</a>
            <br>
            <a href="{{ url_for('views.delete_team') }}">Delete Team</a>
            <br>
            <a href="{{ url_for('views.delete_team_tactics') }}">Delete Team Tactics</a>
            <a href="{{ url_for('views.update_player') }}">Update Player</a>



        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>